@tailwind base;
@tailwind components;
@tailwind utilities;

@import '~@fortawesome/fontawesome-free/css/all.min.css';

html {
    scroll-behavior: smooth;
  }

  .section-padding {
    padding-top: 80px; /* Ajusta este valor según la altura de tu header */
  }

  .app-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  .main-content {
    flex: 1;
  }